In [1]:
from elasticsearch import Elasticsearch
from elasticsearch import helpers
import pandas as pd
import numpy as np
es = Elasticsearch(http_compress=True)#, timeout=2000)

In [2]:
t_df = pd.read_json(".\\forums\\tropical_job.2020-11-05\\topics_combined_processed.json", 
                    lines=True,convert_dates=False)#, nrows=100)
dfs = [t_df]
t_df.rename({'parentLink':'threadID'},axis='columns',inplace=True)

#extract data from arrays, i.e. removing the brackets around the array

for column in ['username','dateTime','postID','mainText','threadID']:
    for df in dfs:
        df[column] = df[column].str[0]
        
t_df['threadID'] = t_df['threadID'].str.split('=').str[-1]
t_df['dateTime_raw'] = pd.to_datetime(t_df['dateTime'],format=' %B %d, %Y, %I:%M:%S %p »',errors='coerce')

for df in dfs:
    df.drop(['timestamp','dateTime'],axis='columns',inplace=True)
    
t_df.drop(['mainTextLinks','quoteLink'],axis='columns',inplace=True)

In [6]:
#clean data (fix blank values)
t_df['mainText'].fillna('',inplace=True)
t_df['username'].fillna('',inplace=True)
t_df.dropna(subset=['dateTime_raw'],inplace=True)

In [ ]:
#clean data (fix blank values)
t_df['mainText'].fillna('',inplace=True)
t_df['username'].fillna('',inplace=True)
t_df['dateTime_raw'].fillna(pd.Timestamp.min.ceil('S'),inplace=True)

In [7]:
t_df

,username,mainText,postID,threadID,dateTime_raw
0,pj1881 (Patrick),"This was my first trip to Puerto Rico, thanks ...",35,10.0,2012-01-14 19:05:22
1,Tropicalgrower89,Nice pics! What's the name of the fruit that's...,36,10.0,2012-01-14 19:16:51
2,pj1881 (Patrick),Salak,38,10.0,2012-01-14 19:23:02
3,lycheeluva,great pics- was that your first tasting of dur...,39,10.0,2012-01-14 19:24:46
4,pj1881 (Patrick),"That was my first time trying Durian, kind of ...",40,10.0,2012-01-14 19:38:48
...,...,...,...,...,...
366735,TREESNMORE,Rob ...,128037,9997.0,2014-04-09 11:06:42
366736,Bananimal,My first larger trees shot panicles and have s...,128033,9999.0,2014-04-09 10:52:46
366737,bsbullie,Not sure what you are asking. As for the Cods...,128035,9999.0,2014-04-09 10:58:28
366738,Carbo,"Rob, I was not aware the calcium is beneficial...",128055,9999.0,2014-04-09 12:25:31
366739,edzone9,Dan your trees look very healthy ! enjoy the m...,128062,9999.0,2014-04-09 13:06:33

In [8]:
t_df.to_csv('tropical_fix2.csv')